{% extends 'w_base_org.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Organisation Details</h3>
        </div>
    </div>

    <div class="row">
        {% if result %}
            {% if result == "updated" %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings updated successfully.
                </div>
            {% elif result == "error" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Error updating settings.
                </div>
            {% elif result == "incomplete" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings form incomplete.
                </div>
            {% endif %}
        {% endif %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{org.org_name}}
                        <!--<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#editInfo">-->
                                <!--Edit Info-->
                            <!--<span class="fa fa-edit"></span>-->
                        <!--</button>-->
                    </h4>
                </div>
                <!-- /.panel-heading -->
                {% if org %}
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">Organisation Info</a>
                        </li>
                        <li>
                            <a id="tab-requests" href="#requests" data-toggle="tab">Requests</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org ID</td>
                                                        <td>{{org.org_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Name</td>
                                                        <td>{{org.org_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Brand</td>
                                                        <td>{{org.org_brand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Identifier</td>
                                                        <td>{{org.org_identifier}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Status</td>
                                                        <td>{% ifequal org.org_active "T" %}
                                                                <i class="fa fa-warning" style="color:#ec971f;"></i>
                                                            {% else %}
                                                                {% ifequal org.org_active "A" %}
                                                                    <i class=" fa fa-check-circle " style="color:green;"></i>
                                                                {% else %}
                                                                    <i class="fa fa-times-circle " style="color:red;"></i>
                                                                {% endifequal %}
                                                            {% endifequal %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org Email ID</td>
                                                        <td>{{org.org_emailid}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Phone Number</td>
                                                        <td>{{org.org_phone}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Join Date</td>
                                                        <td>{{org.org_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Leaving Date</td>
                                                        <td>{% if org.org_date_left %}org.org_date_left{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Billing ID</td>
                                                        <td>{{org.org_billing_id}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Address Info
                                        </div>
                                        <div class="panel-body" >
                                            <address>
                                                <strong>{{org.org_name}}</strong>
                                                <br>{{org.org_address.address_line1}},
                                                <br>{{org.org_address.address_line2}},
                                                <br>{{org.org_address.address_city}}, {{org.org_address.address_state}} - {{org.org_address.address_pincode}}
                                                <br><br>
                                                <abbr title="Phone">P:</abbr>{{org.org_phone}}
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Departments/Categories
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    {% if depts %}
                                                        {% for dept in depts %}
                                                            <tr>
                                                                <td>{{dept.department_name}}</td>
                                                                <td>{{dept.department_code}}</td>
                                                                <td>{% if dept.department_status %}
                                                                        <i class=" fa fa-check-circle " style="color:green;"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-times-circle " style="color:red;"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        No department/categories added
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="requests">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Requests
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="dataTable_wrapper">
                                                <table class="table table-striped table-bordered table-hover" id="dataTables-requests">
                                                    <thead>
                                                    <tr>
                                                        <th>Rendering engine</th>
                                                        <th>Browser</th>
                                                        <th>Platform(s)</th>
                                                        <th>Engine version</th>
                                                        <th>CSS grade</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="settings">

                            <div class="row">

                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                        <!-- /.panel-heading -->
                                    {% if isSettings %}
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Org Status
                                                <span class="pull-right text-muted small"><em>{% ifequal status "T" %}
                                                                <i class="fa fa-warning" style="color:#ec971f;"></i>
                                                            {% else %}
                                                                {% ifequal status "A" %}
                                                                    <i class=" fa fa-check-circle " style="color:green;"></i>
                                                                {% else %}
                                                                    <i class=" fa fa-times-circle " style="color:red;"></i>
                                                                {% endifequal %}
                                                            {% endifequal %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-fw"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABWElEQVRoQ+2
                                                ZYRHCMAyFPxyAAnAAErCAA3CAA5CAA3CABSSAApCAA7j+K924LHTZVi77ubRJ3ntJ1t5GFP6MCs8fB9C3gnUKv
                                                HpOSlUVDsBALVcg7QEVIz8okhWvSQ84AEEVVyAlKIuRFnpAcvFR0kPsAXMAuV/qlDStv2wFtAFTRv8egARw8Ao4AGmMWveAu
                                                QLSmNPatYRl94A2QWm9AxjaUcK8B4pvYgeQ1GznTVy8AtJY1No7V0CboLS+cwDFl5AD8CkUMTDES735UUKaKlp751NIm6C03gFIx+kJ
                                                8JRozLA/gGm0P443A+6Jb/FGdgXm0aYLsDIEsQd2NfHCqzOwjGw3YBEDqptCa+CYwajl1g1wkgAEe6qCZVJNfVfYDxu//bwYA6
                                                F04lJqGshiXUg+lFKlF6W/L6Gctj0CCYkf0rJpUkIWLJr4lBQwCdqmUwfQJpu/+HoDv
                                                H56MWvXR9gAAAAASUVORK5CYII=" width="14" height="14"></i> Subscription
                                                <span class="pull-right text-muted small"><em>{{subscription}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-gears fa-fw"></i> MarketPlace
                                                <span class="pull-right text-muted small"><em>{% if isMarketPlace %}Yes{% else %}No{% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-tag fa-fw"></i> Subscription Rate
                                                <span class="pull-right text-muted small"><em>{{subscription_rate}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-refresh fa-fw"></i> Billing Cycle
                                                <span class="pull-right text-muted small"><em>{{billing_cycle}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-envelope fa-fw"></i> Support email and smtp info
                                                <span class="pull-right text-muted small"><em>{{email}} ; {{email_smtp}}</em>
                                                </span>
                                            </div>
                                            {% if isVoice %}
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Org wide voice consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{voice_rate}}/min</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            {% if isVideo %}
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Org wide video consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{video_rate}}/consultation</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            <div class="list-group-item">
                                                <i class="fa fa-key fa-fw"></i> API key
                                                <span class="pull-right text-muted small"><em>{% if apikey %}Key: {{apikey.apikey_key}} | {{apikey.apikey_generation_date}}
                                                    {% else %}None{% endif%}</em>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /.list-group -->
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    </div>
                                    <!-- /.panel-body -->
                                    {% else %}
                                        <br>
                                        <h4>Settings not set. Please edit</h4>
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        {% if org %}
        <div class="modal fade" id="editInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="basicInfoLabel">Edit Info</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="setingsLabel">Settings</h4>
                    </div>
                    <div id="settingsDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->
    <!-- DataTables JavaScript -->
    <!-- DataTables CSS -->
    <link href="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "sbadmin/bower_components/datatables-responsive/css/responsive.dataTables.scss" %}" rel="stylesheet">

    <script src="{% static "sbadmin/bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>

    <script>
        $(document).ready(function() {

            $('#dataTables-requests').DataTable({
                    responsive: true
            });

        });

    </script>
    <script type="text/javascript">
        $("#btnSettingsEdit").click(function(){
            $.ajax(
                {
                    url: "/web/orgsettings/{{org.org_id}}/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#settingsDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#settingsDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
        });
    </script>
{% endblock %}
