{% extends 'w_base_org.html' %}
{% load staticfiles %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-9">
            <h3 class="page-header">Departments</h3>
        </div>
        <div class="col-lg-3" style="padding:0px 0px;margin-top:20px;">
            <a id="addDepartment" href="#" data-toggle="modal" data-target="#createDepartment">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-plus fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size:20px;padding:0px;">Add Department</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if formError %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{error}}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    All Departments
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="grid-Departments"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newDepartmentInfoLabel">New Department</h4>
                    </div>
                    <div id="newDepartmentDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="basicInfoLabel">Edit Info</h4>
                    </div>
                    <div id="editDepartmentDiv">

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->
    <link href="{% static "kendo/css/kendo.common.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}"rel="stylesheet">

    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.default.min.css" %}" rel="stylesheet">
    <script src="{% static "kendo/jszip.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>

    <script>
        $(document).ready(function() {

            $("#grid-Departments").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Departments.xlsx",
                    allPages: true,

                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/web/{{request.session.org_id}}/getdepartments/",
                            dataType: "json"
                            },
                        update: {
                            url: "/web/{{request.session.org_id}}/updatedepartment/",
                            dataType: "json"
                            },
                        parameterMap: function(options, operation) {

                                    if (operation !== "read" && options.models) {
                                    alert('hi');
                                        return {models: kendo.stringify(options.models)};
                                    }
                            }
                    },
                    schema: {
                        data: "data",
                        model: {
                            id: "dept_id",
                            fields: {
                                name: { type: "string" },
                                description: { type: "string" },
                                code: { type: "string" },
                                status: { type: "boolean" },
                                date_add: { type: "date", editable: false },
                                dept_id: {type: "integer", editable: false },
                                org_id: {type: "integer", editable: false }
                            }
                        }
                    },
                },
                height: 500,
                groupable: true,
                sortable: true,
                filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                            field:"name",
                            title:"Name",
                            filterable: false,
                            groupable: false
                        },
                        {
                            field: "description",
                            title: "Description",
                        },
                        {
                            field: "code",
                            title: "Code"
                        },
                        {
                            field: "status",
                            title: "Status",
                            template: '# if (status) { #Active# } else { #Inactive# } #'
                        },
                        {
                            field: "date_add",
                            title: "Added on",
                            template: '#= kendo.toString(date_add,"dd-MMM-yyyy") #'
                        },
                        {
                            title: "",
                            template: '<button type="button" onclick="editDept(this);" data-org="#=org_id#" data-dept="#=dept_id#" class="btn btn-default" data-toggle="modal">Edit <span class="fa fa-edit"></span></button>',
                            filterable: false,
                            groupable: false,
                        }
                    ],
                    editable: "popup"
            });

        });
        $("#addDepartment").click(function(){
            $.ajax(
                {
                    url: "/web/{{request.session.org_id}}/departmentnew/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#newDepartmentDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#newDepartmentDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                }
            );
        });

        function editDept(value)
        {
            var org = $(value).data('org');
            var dept = $(value).data('dept')
            //alert("data-org:"+$(value).data('org')+", data-dept:"+$(value).data('dept'));
            $('#editDepartment').modal('show');

            $.ajax(
                {
                    url: "/web/"+org+"/departmentedit/"+dept+"/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#editDepartmentDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#editDepartmentDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                }
            );
        }
    </script>
{% endblock %}