{% extends 'wportalbase.html' %}

{% block title %} Login {% endblock %}


{% block navigation %}
    {% include 'wnavlogin.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ">
        </div>
        <div class="col-lg-4 ">
            <!--<div class="login-panel panel panel-default">-->
                Please click here to <a href="/portal/" >login</a>.
            <!--</div>-->
        </div>
        <div class="col-lg-4 ">
        </div>
    </div>
</div>
{% endblock %}