{% extends 'wnavbarbase.html' %}

{% block leftpanel %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/web/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/web/org/"><i class="fa fa-globe fa-fw"></i> Organisation Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/web/org/"><i class="fa fa-globe fa-fw"></i> Org Dashboard</a>
                    </li>
                    <li>
                        <a href="/web/departments/"><i class="fa fa-th-list fa-fw"></i> Departments/Categories</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/web/hospital/"><i class="fa fa-hospital-o fa-fw"></i> Hospitals Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/web/hospital/"><i class="fa fa-hospital-o fa-fw"></i> Hospitals Dashboard</a>
                    </li>
                    <li>
                        <a href="/web/{{request.session.org_id}}/hospitaldetails/"><i class="fa fa-search fa-fw"></i> View Hospital</a>
                    </li>
                    <li>
                        <a href="/web/{{request.session.org_id}}/hospitalnew/"><i class="fa fa-plus fa-fw"></i> Add Hospital</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/web/doctors/"><i class="fa fa-user-md fa-fw"></i> Doctors Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/web/doctors/"><i class="fa fa-user-md fa-fw"></i> Doctors Dashboard</a>
                    </li>
                    <li>
                        <a href="/web/{{request.session.org_id}}/doctordetails/"><i class="fa fa-search fa-fw"></i> View/Search Doctor</a>
                    </li>
                    <li>
                        <a href="/web/{{request.session.org_id}}/doctornew/"><i class="fa fa-plus fa-fw"></i> Add Doctor</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/web/patients/"><i class="fa fa-male fa-fw"></i> Patients Management </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> User Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li>-->
                        <!--<a href="/web/usr/"><i class="fa fa-user fa-fw"></i> User Dashboard</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/web/usrgroup/"><i class="fa fa-group fa-fw"></i> User Groups</a>
                    </li>
                    <li>
                        <a href="/web/users/"><i class="fa fa-plus fa-fw"></i> Users</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-phone fa-fw"></i> Call Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Panels and Wells</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Transactions <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Panels and Wells</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-support fa-fw"></i> Issue Management <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Panels and Wells</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock %}