{% extends 'w_base_hospital.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Hospital Details</h3>
        </div>
    </div>

    <div class="row">
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                   {{error}}
                </div>
        {% endif %}
        {% if result %}
            {% if result == "updated" %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings updated successfully.
                </div>
            {% elif result == "error" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Error updating settings.
                </div>
            {% elif result == "incomplete" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings form incomplete.
                </div>
            {% endif %}
        {% endif %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                    {% if hospital %}
                        {{hospital.hospital_name}}
                        <button type="button" onclick="editHospital(this);" class="btn btn-default pull-right" data-org="{{request.session.org_id}}" data-hospital="{{hospital.hospital_id}}" data-toggle="modal" data-target="#editHospital">
                                Edit Info
                                <span class="fa fa-edit"></span>
                        </button>
                    {% else %}
                    Select a hospital to view
                    {% endif %}
                    <div class="form-group pull-right" >
                        <form id="view-hospital" method="get">
                            {% render_field formHospitalChoice.choices class+="form-control" %}
                        </form>
                    </div>
                    </h4>
                </div>
                <!-- /.panel-heading -->
                {% if hospital %}
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">Hospital Info</a>
                        </li>
                        <li>
                            <a id="tab-doctors" href="#doctors" data-toggle="tab">Doctors</a>
                        </li>
                        <li>
                            <a id="tab-requests" href="#requests" data-toggle="tab">Requests</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org Name</td>
                                                        <td>{{org.org_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Name</td>
                                                        <td>{{hospital.hospital_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Branch Code</td>
                                                        <td>{{hospital.hospital_branch_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Status</td>
                                                        <td>
                                                            {% if hospital.hospital_status %}
                                                            <i class=" fa fa-check-circle " style="color:green;"></i>
                                                            {% else %}
                                                            <i class="fa fa-times-circle " style="color:red;"></i>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Hospital Email ID</td>
                                                        <td>{{hospital.hospital_email_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Phone Number</td>
                                                        <td>{{hospital.hospital_phone1}} {{hospital.hospital_phone2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Join Date</td>
                                                        <td>{{hospital.hospital_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Leaving Date</td>
                                                        <td>{% if hospital.hospital_date_left %}hospital.hospital_date_left{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Address Info
                                        </div>
                                        <div class="panel-body" >
                                            <address>
                                                <strong>{{hospital.hospital_name}}</strong>
                                                <br>{{hospital.hospital_address.address_line1}},
                                                <br>{{hospital.hospital_address.address_line2}},
                                                <br>{{hospital.hospital_address.address_city}}, {{hospital.hospital_address.address_state}} - {{hospital.hospital_address.address_pincode}}
                                                <br><br>
                                                <abbr title="Phone">P:</abbr>{{hospital.hospital_phone1}} {{hospital.hospital_phone2}}
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Departments/Categories
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    {% if depts %}
                                                        {% for dept in depts %}
                                                            <tr>
                                                                <td>{{dept.department_name}}</td>
                                                                <td>{{dept.department_code}}</td>
                                                                <td>{% if dept.department_status %}
                                                                        <i class=" fa fa-check-circle " style="color:green;"></i>
                                                                    {% else %}
                                                                        <i class="fa fa-times-circle " style="color:red;"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        No department/categories added
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="doctors">
                            <div class="row">
                                <div class="col-lg-12" style="margin-top:20px;">
                                    <div id="grid-Doctors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="requests">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Requests
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="settings">

                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    {% if isSettings %}
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Hospital Status
                                                <span class="pull-right text-muted small"><em>{% if status %}
                                                                <i class=" fa fa-check-circle " style="color:green;"></i>
                                                            {% else %}
                                                                <i class=" fa fa-times-circle " style="color:red;"></i>
                                                            {% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-envelope fa-fw"></i> Support email and smtp info
                                                <span class="pull-right text-muted small"><em>{{email}} ; {{email_smtp}}</em>
                                                </span>
                                            </div>
                                            {% if isVoice %}
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Hospital wide voice consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{voice_rate}}/min</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            {% if isVoice %}
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Hospital wide video consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{video_rate}}/consultation</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- /.list-group -->
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    </div>
                                    <!-- /.panel-body -->
                                    {% else %}
                                        <p><h4>No settings for this hospital has been set.</h4></p>
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        {% if org %}
        <div class="modal fade" id="editHospital" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:900px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Edit Info</h4>
                    </div>
                    <div id="editHospitalDiv" >
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="setingsLabel">Settings</h4>
                    </div>
                    <div id="settingsDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->

    <link href="{% static "kendo/css/kendo.common.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}"rel="stylesheet">

    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.default.min.css" %}" rel="stylesheet">
    <script src="{% static "kendo/jszip.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>

    <script>
        $(document).ready(function() {


            $("#grid-Doctors").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Doctors.xlsx",
                    allPages: true,

                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/web/{{request.session.org_id}}/hospital/{{hospital.hospital_id}}/getdoctors/",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "data",
                        model: {
                            id: "dept_id",
                            fields: {
                                name: { type: "string" },
                                department: { type: "string" },
                                code: { type: "string" },
                                qualification: { type: "string" },
                                experience: { type: "integer" },
                                email: { type: "string" },
                                phone: { type: "string" },
                                joined: { type: "date" },
                                org_id: { type: "integer" },
                                status: { type: "boolean" },
                                doctor_id: {type: "integer", editable: false }
                            }
                        }
                    },
                },
                height: 500,
                groupable: true,
                sortable: true,
                filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                            field:"name",
                            title:"Name",
                            filterable: false,
                            groupable: false
                        },
                        {
                            field: "department",
                            title: "Deprtment"
                        },
                        {
                            field: "code",
                            title: "Code"
                        },
                        <!--{-->
                            <!--field: "qualification",-->
                            <!--title: "Qualification"-->
                        <!--},-->
                        {
                            field: "experience",
                            title: "Experience"
                        },
                        {
                            field: "email",
                            title: "Email"
                        },
                        {
                            field: "phone",
                            title: "Phone Number"
                        },
                        {
                            field: "status",
                            title: "status",
                            template: '# if (status) { #<i class=" fa fa-check-circle" style="color:green;"></i># } else { #<i class=" fa fa-times-circle" style="color:red;"></i># } #'
                        },
                        {
                            field: "joined",
                            title: "Date joined",
                            template: '#= kendo.toString(joined,"dd-MMM-yyyy") #'
                        },
                        {
                            title: "",
                            template: '<a href="/web/#=org_id#/doctordetails/#=doctor_id#/" class="btn btn-default">View <span class="fa fa-arrow-circle-o-right"></span></a>'
                        }
                    ]
            });

        });

        $('#id_choices').on('change', function() {
                url = "/web/{{request.session.org_id}}/hospitaldetails/"+ $("#id_choices").val() + "/";
                console.log(url);
                <!--$('#view-org').attr('action', url);-->
                window.location.href = url;
            });
        $("#btnSettingsEdit").click(function(){
            $.ajax(
                {
                    url: "/web/hospitalsettings/{{org.org_id}}/{{hospital.hospital_id}}/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#settingsDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#settingsDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
        });

        function editHospital(value)
        {
            var org = $(value).data('org');
            var hospital = $(value).data('hospital')
            //alert("data-org:"+org+", data-doctor:"+doctor);


            $.ajax(
                {
                    url: "/web/"+org+"/hospitaledit/"+hospital+"/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#editHospitalDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#editHospitalDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                }
            );
        }
    </script>

{% endblock %}