packages:
  yum:
    postgresql93-devel: []

container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "callyourmedic.settings"
    PYTHONPATH: "/opt/python/current/app/callyourmedic:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "callyourmedic/callyourmedic/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"