{% load staticfiles %}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" style="padding:5px;5px;margin-left:10px;" src="{% static "img/logo_310.png" %}" />
        <a class="navbar-brand" style="color:#70323B;font-size:24px;" href="">Call Your Medic Web Portal</a>

    </div>

    {% block topbar %}
    {% endblock %}

    {% block leftpanel %}
    {% endblock %}
</nav>