{% extends 'navbarbase.html' %}


{% block leftpanel %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/cym/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/cym/organisation/"><i class="fa fa-globe fa-fw"></i> Org Management Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-search fa-fw"></i> View <span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                     <li>
                        <a href="/cym/organisationdetails/">Organisation</a>
                     </li>
                     <li>
                         <a href="/cym/search/">All Search</a>
                     </li>
                 </ul>
            </li>
            <li>
                <a href="/cym/organisationnew/"><i class="fa fa-plus fa-fw"></i> Add Organisation</a>
            </li>
             <li>
                <a href="/cym/organisationrequests/"><i class="fa fa-tasks fa-fw"></i> Org Requests</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
{% endblock %}