{% load staticfiles %}
{% load widget_tweaks %}

{% if error %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{error}}
    </div>
{% else %}
    {% if isSearchOrg %}
        {% if org %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{org.org_name}}</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">Organisation Info</a>
                        </li>
                        <li>
                            <a id="tab-hospitals" href="#hospitals" data-toggle="tab">Hospitals</a>
                        </li>
                        <li>
                            <a id="tab-doctors" href="#doctors" data-toggle="tab">Doctors</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org ID</td>
                                                        <td>{{org.org_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Name</td>
                                                        <td>{{org.org_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Brand</td>
                                                        <td>{{org.org_brand}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Identifier</td>
                                                        <td>{{org.org_identifier}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Status</td>
                                                        <td>{% ifequal org.org_active "T" %}
                                                                Test
                                                            {% else %}
                                                                {% ifequal org.org_active "A" %}
                                                                    Active
                                                                {% else %}
                                                                    Dead
                                                                {% endifequal %}
                                                            {% endifequal %}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#basicInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org Email ID</td>
                                                        <td>{{org.org_emailid}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Phone Number</td>
                                                        <td>{{org.org_phone}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Join Date</td>
                                                        <td>{{org.org_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Leaving Date</td>
                                                        <td>{% if org.org_date_left %}org.org_date_left{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Org Billing ID</td>
                                                        <td>{{org.org_billing_id}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Address Info
                                        </div>
                                        <div class="panel-body" >
                                            <address>
                                                <strong>{{org.org_name}}</strong>
                                                <br>{{org.org_address.address_line1}},
                                                <br>{{org.org_address.address_line2}},
                                                <br>{{org.org_address.address_city}}, {{org.org_address.address_state}} - {{org.org_address.address_pincode}}
                                                <br><br>
                                                <abbr title="Phone">P:</abbr>{{org.org_phone}}
                                            </address>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#addressInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Departments/Categories
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    {% if depts %}
                                                        {% for dept in depts %}
                                                            <tr>
                                                                <td>{{dept.department_name}}</td>
                                                                <td>{{dept.department_code}}</td>
                                                                <td>{% if dept.department_status %}Active{% else %}Inactive{% endif %}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        No department/categories added
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hospitals">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Hospitals
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div id="grid-Hospitals"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="doctors">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Doctors
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div id="grid-Doctors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <div class="row">
                                {% if isSettings %}
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Org Status
                                                <span class="pull-right text-muted small"><em>{% ifequal status "T" %}
                                                                Test
                                                            {% else %}
                                                                {% ifequal status "A" %}
                                                                    Active
                                                                {% else %}
                                                                    Dead
                                                                {% endifequal %}
                                                            {% endifequal %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-fw"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABWElEQVRoQ+2
                                                ZYRHCMAyFPxyAAnAAErCAA3CAA5CAA3CABSSAApCAA7j+K924LHTZVi77ubRJ3ntJ1t5GFP6MCs8fB9C3gnUKv
                                                HpOSlUVDsBALVcg7QEVIz8okhWvSQ84AEEVVyAlKIuRFnpAcvFR0kPsAXMAuV/qlDStv2wFtAFTRv8egARw8Ao4AGmMWveAu
                                                QLSmNPatYRl94A2QWm9AxjaUcK8B4pvYgeQ1GznTVy8AtJY1No7V0CboLS+cwDFl5AD8CkUMTDES735UUKaKlp751NIm6C03gFIx+kJ
                                                8JRozLA/gGm0P443A+6Jb/FGdgXm0aYLsDIEsQd2NfHCqzOwjGw3YBEDqptCa+CYwajl1g1wkgAEe6qCZVJNfVfYDxu//bwYA6
                                                F04lJqGshiXUg+lFKlF6W/L6Gctj0CCYkf0rJpUkIWLJr4lBQwCdqmUwfQJpu/+HoDv
                                                H56MWvXR9gAAAAASUVORK5CYII=" width="14" height="14"></i> Subscription
                                                <span class="pull-right text-muted small"><em>{{subscription}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-tag fa-fw"></i> Subscription Rate
                                                <span class="pull-right text-muted small"><em>{{subscription_rate}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-refresh fa-fw"></i> Billing Cycle
                                                <span class="pull-right text-muted small"><em>{{billing_cycle}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-envelope fa-fw"></i> Support email and smtp info
                                                <span class="pull-right text-muted small">
                                                    <em>{% if email %}{{email}}{% endif %}{% if email_smtp %} ; {{email_smtp}} {% endif %}</em>
                                                </span>
                                            </div>
                                            {% if isVoice %}
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Org wide voice consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{voice_rate}}/min</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            {% if isVideo %}
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Org wide video consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{video_rate}}/consultation</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            <div class="list-group-item">
                                                <i class="fa fa-key fa-fw"></i> API key
                                                <span class="pull-right text-muted small"><em>{% if apikey %}Key: {{apikey.apikey_key}} | {{apikey.apikey_generation_date}}
                                                    {% else %}None{% endif%}</em></span>
                                            </div>
                                        </div>
                                        <!-- /.list-group -->
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <div class="col-lg-2"></div>
                                {% else %}
                                    <h4>Settings not set. Please edit</h4>
                                <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                {% endif %}
                            </div>
                            <!--<p><a href="/cym/generateapikey/{{org.org_id}}/" class="btn btn-outline btn-primary" >Create APIKey</a></p>-->
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="modal fade" id="editSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="setingsLabel">Settings</h4>
                    </div>
                    <div id="settingsDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
            <script type="text/javascript">
                $("#grid-Hospitals").kendoGrid({
                    toolbar: ["excel"],
                    excel: {
                        fileName: "HospitalsList.xlsx",
                        allPages: true,
                    },
                    dataSource: {
                        transport: {
                            read: {
                                url: "/cym/{{org.org_id}}/gethospitals/",
                                dataType: "json"
                                }
                            },
                            schema: {
                                data: "data",
                                model: {
                                    fields: {
                                        hospital_name: { type: "string" },
                                        branch_code: { type: "string" },
                                        city: { type: "string" },
                                        state: { type: "string" },
                                        phone: { type: "string" },
                                        joined: { type: "date" }
                                    }
                                }
                             },
                        },
                    height: 500,
                    groupable: true,
                    sortable: true,
                    filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                             field:"hospital_name",
                             title:"Hospital Name",
                             filterable: false,
                             groupable: false,
                        },
                        {
                             field: "branch_code",
                             title: "Branch Code",
                        },
                        {
                            field: "city",
                            title: "City"
                        },
                        {
                            field: "state",
                            title: "State"
                        },
                        {
                            field: "phone",
                            title: "Phone Number"
                        },
                        {
                            field: "joined",
                            title: "Date Joined",
                            template: '#= kendo.toString(joined,"dd-MMM-yyyy") #'
                        }
                    ]
                });
                $("#grid-Doctors").kendoGrid({
                    toolbar: ["excel"],
                    excel: {
                        fileName: "DoctorsList.xlsx",
                        allPages: true,
                    },
                    dataSource: {
                        transport: {
                            read: {
                                url: "/cym/{{org.org_id}}/getdoctors/",
                                dataType: "json"
                                }
                            },
                            schema: {
                                data: "data",
                                model: {
                                    fields: {
                                        doctor_name: { type: "string" },
                                        hospital_branch_code: { type: "string" },
                                        department: { type: "string" },
                                        doctor_code: { type: "string" },
                                        email: { type: "string" },
                                        phone1: { type: "string" },
                                        phone2: { type: "string" },
                                        status: {type: "string" },
                                        joined: { type: "date" }
                                    }
                                }
                             },
                        },
                    height: 500,
                    groupable: true,
                    sortable: true,
                    filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                             field:"doctor_name",
                             title:"Name",
                             groupable: false,
                        },
                        {
                             field: "hospital_branch_code",
                             title: "Hospital Code",
                        },
                        {
                            field: "doctor_code",
                            title: "Code"
                        },
                        {
                            field: "department",
                            title: "Department"
                        },
                        {
                            field: "email",
                            title: "Email"
                        },
                        {

                            title: "Phone Number",
                            template: "#= phone1 +', '+phone2 #"
                        },
                        {
                            field: "status",
                            title: "Status"
                        },
                        {
                            field: "joined",
                            title: "Date Joined",
                            template: '#= kendo.toString(joined,"dd-MMM-yyyy") #'
                        }
                    ]
                });

                $("#btnSettingsEdit").click(function(){
                    $.ajax(
                        {
                            url: "/cym/{{org.org_id}}/orgsettings/",
                            dataType: "html",
                            type: "GET",
                            success: function(result){
                                $("#settingsDiv").html(result);
                            },
                            error: function(xhr){
                                //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                                $("#settingsDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                            },
                            complete: function (xhr, status) {
                                //$('#showresults').slideDown('slow')
                            }
                        });
                });
            </script>
        {% endif %}
    {% elif isSearchHospital %}
        {% if hospital %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{hospital.hospital_name}} | {{hospital.hospital_branch_code}}</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#hospitalHome" data-toggle="tab">Hospital Info</a>
                        </li>
                        <li>
                            <a href="#hospitalDoctors" data-toggle="tab">Doctors</a>
                        </li>
                        <li>
                            <a href="#hospitalSettings" data-toggle="tab">Settings</a>
                        </li>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="hospitalHome">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Org Name</td>
                                                        <td>{{hospital.hospital_org.org_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Name</td>
                                                        <td>{{hospital.hospital_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Branch Code</td>
                                                        <td>{{hospital.hospital_branch_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Statue</td>
                                                        <td>{{hospital.hospital_status}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Hospital Email ID</td>
                                                        <td>{{hospital.hospital_email_id}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Phone Number</td>
                                                        <td>{{hospital.hospital_phone1}} {{hospital.hospital_phone2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Join Date</td>
                                                        <td>{{hospital.hospital_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Leaving Date</td>
                                                        <td>{% if hospital.hospital_date_left %}hospital.hospital_date_left{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-info" style="margin-top:15px;">
                                    <div class="panel-heading">
                                        Address Info
                                    </div>
                                    <div class="panel-body" >
                                        <address>
                                            <strong>{{hospital.hospital_name}}</strong>
                                            <br>{{hospital.hospital_address.address_line1}},
                                                <br>{{hospital.hospital_address.address_line2}},
                                                <br>{{hospital.hospital_address.address_city}}, {{hospital.hospital_address.address_state}} - {{hospital.hospital_address.address_pincode}}
                                                <br><br>
                                                <abbr title="Phone">P:</abbr>{{hospital.hospital_phone1}} {{hospital.hospital_phone2}}
                                            </address>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#addressInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Departments/Categories
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    {% if depts %}
                                                        {% for dept in depts %}
                                                            <tr>
                                                                <td>{{dept.department_name}}</td>
                                                                <td>{{dept.department_code}}</td>
                                                                <td>{{dept.department_status}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else %}
                                                        No department/categories added
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hospitalDoctors">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Doctors
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div id="grid-Hospital-Doctors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="hospitalSettings">
                            <div class="row">
                                {% if isSettings %}
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Hospital Status
                                                <span class="pull-right text-muted small"><em>{% if status %}
                                                                Active
                                                            {% else %}
                                                                Inactive
                                                            {% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-envelope fa-fw"></i> Support email and smtp info
                                                <span class="pull-right text-muted small"><em>{{email}} ; {{email_smtp}}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Hospital wide voice consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{voice_rate}}/min</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Hospital wide video consultation rate
                                                <span class="pull-right text-muted small"><em>INR {{video_rate}}/consultation</em>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /.list-group -->
                                        <!--<a href="#" class="btn btn-default btn-block">Edit Settings</a>-->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <div class="col-lg-2"></div>
                                {% else %}
                                    <p><h4>No settings for this hospital has been set by the org admin.</h4></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $("#grid-Hospital-Doctors").kendoGrid({
                    toolbar: ["excel"],
                    excel: {
                        fileName: "DoctorsList.xlsx",
                        allPages: true,
                    },
                    dataSource: {
                        transport: {
                            read: {
                                url: "/cym/{{hospital.hospital_org.org_id}}/{{hospital.hospital_id}}/getdoctors/",
                                dataType: "json"
                                }
                            },
                            schema: {
                                data: "data",
                                model: {
                                    fields: {
                                        doctor_name: { type: "string" },
                                        hospital_branch_code: { type: "string" },
                                        department: { type: "string" },
                                        doctor_code: { type: "string" },
                                        email: { type: "string" },
                                        phone1: { type: "string" },
                                        phone2: { type: "string" },
                                        status: {type: "string" },
                                        joined: { type: "date" }
                                    }
                                }
                             },
                        },
                    height: 500,
                    groupable: true,
                    sortable: true,
                    filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                             field:"doctor_name",
                             title:"Name",
                             groupable: false,
                        },
                        {
                             field: "hospital_branch_code",
                             title: "Hospital Code",
                        },
                        {
                            field: "doctor_code",
                            title: "Code"
                        },
                        {
                            field: "department",
                            title: "Department"
                        },
                        {
                            field: "email",
                            title: "Email"
                        },
                        {

                            title: "Phone Number",
                            template: "#= phone1 +', '+phone2 #"
                        },
                        {
                            field: "status",
                            title: "Status"
                        },
                        {
                            field: "joined",
                            title: "Date Joined",
                            template: '#= kendo.toString(joined,"dd-MMM-yyyy") #'
                        }
                    ]
                });
            </script>
        {% endif %}

    {% elif isSearchDoctor %}
        {% if doctor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{doctor.docReg.doctor_code}} : {{doctor.docDetails.doctor_first_name}} {{doctor.docDetails.doctor_last_name}}</h4>
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">Info</a>
                        </li>
                        <li>
                            <a href="#schedules" data-toggle="tab">Schedules</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>{{doctor.docDetails.doctor_first_name}} {{doctor.docDetails.doctor_last_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Code</td>
                                                        <td>{{doctor.docReg.doctor_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>{{doctor.docReg.doctor_department.department_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Branch Code</td>
                                                        <td>{{doctor.docReg.doctor_hospital.hospital_branch_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td>{% if doctor.docReg.doctor_status %}Active{% else %}Inactive{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#basicInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Email ID</td>
                                                        <td>{{doctor.docReg.doctor_email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone Number</td>
                                                        <td>{{doctor.docDetails.doctor_phone1}},{{doctor.docDetails.doctor_phone2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Join Date</td>
                                                        <td>{{doctor.docDetails.doctor_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Leaving Date</td>
                                                        <td>{% if doctor.docDetails.doctor_date_left %}{{doctor.docDetails.doctor_date_left}}{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Professional Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Experience</td>
                                                        <td>{{doctor.docDetails.doctor_experience}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Qualifications</td>
                                                        <td>{{doctor.docDetails.doctor_qualification}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="schedules">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Schedule
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <div class="row">
                                {% if isSettings %}
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Doctor Status
                                                <span class="pull-right text-muted small"><em>{% if status %}
                                                                Active
                                                            {% else %}
                                                                Inactive
                                                            {% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Voice consultation
                                                <span class="pull-right text-muted small"><em>{% if isVoice %}True{% else %}False{% endif %}{% if voice_rate %}; INR {{voice_rate}}/min{% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Video consultation
                                                <span class="pull-right text-muted small"><em>{% if isVideo %}True{% else %}False{% endif %}{% if video_rate %}; INR {{video_rate}}/consultation{% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-fw"><img class="icon icons8-Treatment-Plan" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAA
                                                AAwCAYAAABXAvmHAAABr0lEQVRoQ+1a0U3EMAx9NwEwAbABjMAEsAGwAUwCGwAbwASMACPABMAEoIdy0imkie049FTZX5VqO37Pzz21vhXG2DmACwBHKf
                                                0rgHsAD97HrZwT7gJ43ig8T08gJwA+vc71BvBSKX5dM0EcbyMASuZOWNhlkpTQfdqt1YEDADeJVV5rjHq/SgG3ADgXGnsDwG5dA+B10WoAWDAlQV1bbG
                                                9D68zxYUmSclByRRA1AI8ATo2HMswLAHM9ATgr1VIDQMas7PMsPjbZfhplyBmxGtk/1AL4zgJysPl9a3HruFb+Itm1DgQAZUuiAzlhLQkpCVa7i87vm
                                                QF1RcqAACBiQMmqxl10fkhIQ6nSd/YOiAqogBLFj5SQqIAA0MvA3PEhoSV0oPe9YEoFooeAh4QCwIQMowMiBpYwxFMY/oUAjyEOAHMPcXRgWzugfH/54
                                                y56CIwc4gDQ+Db7ezs60KuT3l/yRXeAq9CdgQxrUr8DKO7oRq6YNAW2fE0rJiLmlnDuLnylLal6yUdWCIIrUv5lYL9Fk/N9yoYEclVrWrM61zMmXWvRPe
                                                ZUx6wBwJFMU6ofCsp8Meg/6zIAAAAASUVORK5CYII=" width="14" height="14"></i> E-prescription
                                                <span class="pull-right text-muted small"><em>{% if isEprescription %}True{% else %}False{% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-certificate fa-fw"></i> Signing Certificate
                                                <span class="pull-right text-muted small"><em>-NA-</em>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /.list-group -->
                                        <!--<a href="#" class="btn btn-default btn-block">Edit Settings</a>-->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <div class="col-lg-2"></div>
                                {% else %}
                                    <h4>No settings for this doctor has been set by the org admin.</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        {% endif %}
    {% endif %}
{% endif %}