{% load widget_tweaks %}
<form id="settingsForm" action="/cym/{{orgid}}/orgsettings/"  method="post">
    {% csrf_token %}
    <div class="modal-body" id="modal-body-settings">
        <div class="form-group">
            <label >Org Status</label>
            {% render_field orgSettingsForm.orgsettings_status class+="form-control" required="true" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_status.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Subscription</label>
            {% render_field orgSettingsForm.orgsettings_subscription class+="form-control" required="true" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_subscription.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label >MarketPlace</label>
            </div>
            <div class="col-md-6">
                {% render_field orgSettingsForm.orgsettings_marketplace %}
            </div>
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_marketplace.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Subscription Rate</label>
            {% render_field orgSettingsForm.orgsettings_subscription_rate class+="form-control" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_subscription_rate.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Billing Cycle</label>
            {% render_field orgSettingsForm.orgsettings_billing_cycle class+="form-control" required="true" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_billing_cycle.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Support Email</label>
            {% render_field orgSettingsForm.orgsettings_email class+="form-control" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_email.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Support Email SMTP</label>
            {% render_field orgSettingsForm.orgsettings_email_smtp class+="form-control" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_email_smtp.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Org wide voice consultation rate</label>
            {% render_field orgSettingsForm.orgsettings_voice_rate class+="form-control" %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_voice_rate.errors.as_text }}</label>
            </div>
        </div>
        <div class="form-group">
            <label >Org wide video consultation rate</label>
            {% render_field orgSettingsForm.orgsettings_video_rate class+="form-control"  %}
            <div class="form-group has-error">
                <label class="control-label" >{{ orgSettingsForm.orgsettings_video_rate.errors.as_text }}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="newGroup">Save</button>
    </div>
</form>
