{% extends 'w_base_doctor.html' %}
{% load staticfiles %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Doctors Management Dashboard</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if new_doctor_added %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{new_doctor_added }} created. <a href="/web/{{request.session.org_id}}/doctordetails/{{new_doctor_id}}/" class="alert-link">View Details</a>.
                </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        List of Doctors
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="grid-Doctors"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        <!--</div>-->
        </div>

    </div>
</div>

{% endblock %}

{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->

    <link href="{% static "kendo/css/kendo.common.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}"rel="stylesheet">

    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.default.min.css" %}" rel="stylesheet">
    <script src="{% static "kendo/jszip.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>

    <script>
        $(document).ready(function() {

            $("#grid-Doctors").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Doctors.xlsx",
                    allPages: true,

                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/web/{{request.session.org_id}}/getdoctors/",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "data",
                        model: {
                            id: "dept_id",
                            fields: {
                                name: { type: "string" },
                                department: { type: "string" },
                                code: { type: "string" },
                                qualification: { type: "string" },
                                experience: { type: "integer" },
                                email: { type: "string" },
                                phone: { type: "string" },
                                joined: { type: "date" },
                                org_id: { type: "integer" },
                                status: { type: "boolean" },
                                doctor_id: {type: "integer", editable: false }
                            }
                        }
                    },
                },
                height: 500,
                groupable: true,
                sortable: true,
                filterable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                            field:"name",
                            title:"Name",
                            filterable: false,
                            groupable: false
                        },
                        {
                            field: "department",
                            title: "Deprtment"
                        },
                        {
                            field: "code",
                            title: "Code"
                        },
                        <!--{-->
                            <!--field: "qualification",-->
                            <!--title: "Qualification"-->
                        <!--},-->
                        {
                            field: "experience",
                            title: "Experience"
                        },
                        {
                            field: "email",
                            title: "Email"
                        },
                        {
                            field: "phone",
                            title: "Phone Number"
                        },
                        {
                            field: "status",
                            title: "status",
                            template: '# if (status) { #Active# } else { #Inactive# } #'
                        },
                        {
                            field: "joined",
                            title: "Date joined",
                            template: '#= kendo.toString(joined,"dd-MMM-yyyy") #'
                        },
                        {
                            title: "",
                            template: '<a href="/web/#=org_id#/doctordetails/#=doctor_id#/">View</a>'
                        }
                    ]
            });
        });
    </script>
{% endblock %}