{% extends 'w_base_doctor.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Doctor Details</h3>
        </div>
    </div>

    <div class="row">
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                   {{error}}
                </div>
        {% endif %}
        {% if result %}
            {% if result == "updated" %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings updated successfully.
                </div>
            {% elif result == "error" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Error updating settings.
                </div>
            {% elif result == "incomplete" %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Settings form incomplete.
                </div>
            {% endif %}
        {% endif %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if doctor %}
                    <h4>{{doctor.docReg.doctor_code}} : {{doctor.docDetails.doctor_first_name}} {{doctor.docDetails.doctor_last_name}}</h4>
                    {% else %}
                    <h4>Select a Doctor to view</h4>
                    {% endif %}
                    <div class="form-group" style="float:right;margin-top:-35px;">
                        <form id="view-hospital" method="get">
                            {% render_field formDoctorChoice.choices class+="form-control" %}
                        </form>
                    </div>
                </div>
                <!-- /.panel-heading -->
                {% if doctor %}
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">Info</a>
                        </li>
                        <li>
                            <a href="#schedules" data-toggle="tab">Schedules</a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab">Settings</a>
                        </li>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Basic Info
                                        </div>
                                        <div class="panel-body" >
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>{{doctor.docDetails.doctor_first_name}} {{doctor.docDetails.doctor_last_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Code</td>
                                                        <td>{{doctor.docReg.doctor_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>{{doctor.docReg.doctor_department.department_name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hospital Branch Code</td>
                                                        <td>{{doctor.docReg.doctor_hospital.hospital_branch_code}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td>{% if doctor.docReg.doctor_status %}Active{% else %}Inactive{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#basicInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Contact Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Email ID</td>
                                                        <td>{{doctor.docReg.doctor_email}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone Number</td>
                                                        <td>{{doctor.docDetails.doctor_phone1}},{{doctor.docDetails.doctor_phone2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Join Date</td>
                                                        <td>{{doctor.docDetails.doctor_date_joined}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Leaving Date</td>
                                                        <td>{% if doctor.docDetails.doctor_date_left %}{{doctor.docDetails.doctor_date_left}}{% else %}-NA-{% endif %}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            Professional Info
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td>Experience</td>
                                                        <td>{{doctor.docDetails.doctor_experience}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Qualifications</td>
                                                        <td>{{doctor.docDetails.doctor_qualification}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#contactInfo">
                                            <div class="panel-footer">
                                                <span class="pull-left">Edit</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="schedules">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-info" style="margin-top:15px;">
                                        <div class="panel-heading">
                                            All Doctors
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="dataTable_wrapper">
                                                <table class="table table-striped table-bordered table-hover" id="dataTables-Schedules">
                                                    <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone Number(s)</th>
                                                        <th>Department</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <div class="row">

                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    {% if isSettings %}
                                        <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <div class="list-group-item">
                                                <i class="fa fa-flag fa-fw"></i> Doctor Status
                                                <span class="pull-right text-muted small"><em>{% if status %}
                                                                Active
                                                            {% else %}
                                                                Inactive
                                                            {% endif %}</em>
                                                </span>
                                            </div>
                                            {% if isVoiceEnabled %}
                                            <div class="list-group-item">
                                                <i class="fa fa-phone fa-fw"></i> Voice consultation
                                                <span class="pull-right text-muted small"><em>{% if isVoice %}True{% else %}False{% endif %}{% if voice_rate %}; INR {{voice_rate}}/min{% endif %}</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            {% if isVideoEnabled %}
                                            <div class="list-group-item">
                                                <i class="fa fa-video-camera fa-fw"></i> Video consultation
                                                <span class="pull-right text-muted small"><em>{% if isVideo %}True{% else %}False{% endif %}{% if video_rate %}; INR {{video_rate}}/consultation{% endif %}</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                            {% if isPrescriptionEnabled %}
                                            <div class="list-group-item">
                                                <i class="fa fa-fw"><img class="icon icons8-Treatment-Plan" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAA
                                                AAwCAYAAABXAvmHAAABr0lEQVRoQ+1a0U3EMAx9NwEwAbABjMAEsAGwAUwCGwAbwASMACPABMAEoIdy0imkie049FTZX5VqO37Pzz21vhXG2DmACwBHKf
                                                0rgHsAD97HrZwT7gJ43ig8T08gJwA+vc71BvBSKX5dM0EcbyMASuZOWNhlkpTQfdqt1YEDADeJVV5rjHq/SgG3ADgXGnsDwG5dA+B10WoAWDAlQV1bbG
                                                9D68zxYUmSclByRRA1AI8ATo2HMswLAHM9ATgr1VIDQMas7PMsPjbZfhplyBmxGtk/1AL4zgJysPl9a3HruFb+Itm1DgQAZUuiAzlhLQkpCVa7i87vm
                                                QF1RcqAACBiQMmqxl10fkhIQ6nSd/YOiAqogBLFj5SQqIAA0MvA3PEhoSV0oPe9YEoFooeAh4QCwIQMowMiBpYwxFMY/oUAjyEOAHMPcXRgWzugfH/54
                                                y56CIwc4gDQ+Db7ezs60KuT3l/yRXeAq9CdgQxrUr8DKO7oRq6YNAW2fE0rJiLmlnDuLnylLal6yUdWCIIrUv5lYL9Fk/N9yoYEclVrWrM61zMmXWvRPe
                                                ZUx6wBwJFMU6ofCsp8Meg/6zIAAAAASUVORK5CYII=" width="14" height="14"></i> E-prescription
                                                <span class="pull-right text-muted small"><em>{% if isPrescription %}True{% else %}False{% endif %}</em>
                                                </span>
                                            </div>
                                            <div class="list-group-item">
                                                <i class="fa fa-certificate fa-fw"></i> Signing Certificate
                                                <span class="pull-right text-muted small"><em>-NA-</em>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- /.list-group -->
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    </div>
                                    <!-- /.panel-body -->
                                    {% else %}
                                        <h4>No settings for this doctor has been set.</h4>
                                        <a id="btnSettingsEdit" href="#" data-toggle="modal" data-target="#editSettings" class="btn btn-default btn-block">Edit Settings</a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-2"></div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        {% if org %}
        <div class="modal fade" id="basicInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="basicInfoLabel">Basic Info</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="contactInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="contactInfoLabel">Contact Info</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="addressInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addressInfoInfoLabel">Address Info</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="setingsLabel">Settings</h4>
                    </div>
                    <div id="settingsDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->
    <!-- DataTables JavaScript -->
    <!-- DataTables CSS -->
    <link href="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static "sbadmin/bower_components/datatables-responsive/css/responsive.dataTables.scss" %}" rel="stylesheet">

    <script src="{% static "sbadmin/bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>

    <script>
        $(document).ready(function() {

            $('#tab-doctors').click(function(){
                console.log('click');
            });
            $('#tab-requests').click(function(){
                console.log('click');
            });
            $('#dataTables-requests').DataTable({
                    responsive: true
            });
            $('#id_choices').on('change', function() {
                url = "/web/{{request.session.org_id}}/doctordetails/"+ $("#id_choices").val() + "/";
                console.log(url);
                <!--$('#view-org').attr('action', url);-->
                window.location.href = url;
            });
        });
        $("#btnSettingsEdit").click(function(){
            $.ajax(
                {
                    url: "/web/doctorsettings/{{request.session.org_id}}/{{doctor.docReg.doctor_hospital.hospital_id}}/{{doctor.docReg.doctor_id}}/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#settingsDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#settingsDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
        });
    </script>
{% endblock %}