{% extends 'w_base_doctor.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Add New Hospital</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if error %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{error}}
                    {{formDocDetails.errors}}
                    {{formDocRegistration.errors}}
                    {{formAddress.errors}}
                </div>
            {% endif %}
            <form id="hospitalForm" action="/web/{{request.session.org_id}}/doctornew/" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-6">
                        <label >First Name</label>
                        {% render_field formDocDetails.doctor_first_name class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_first_name.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label >Last Name</label>
                        {% render_field formDocDetails.doctor_last_name class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_last_name.errors.as_text }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3">
                        <label >Gender</label>
                        {% render_field formDocDetails.doctor_gender class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_gender.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label >Phone Number</label>
                        {% render_field formDocDetails.doctor_phone1 class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_phone1.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label >Alternate Phone Number</label>
                        {% render_field formDocDetails.doctor_phone2 class+="form-control" %}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_phone2.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label >Experience</label>
                        {% render_field formDocDetails.doctor_experience class+="form-control" %}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_experience.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <label >Qualifications/Descriptions</label>
                        {% render_field formDocDetails.doctor_qualification class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocDetails.doctor_qualification.errors.as_text }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4">
                        <label >Hospital</label>
                        {% render_field formDocRegistration.hospital_choice class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocRegistration.hospital_choice.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >Department</label>
                        {% render_field formDocRegistration.dept_choice class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocRegistration.dept_choice.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >Email ID</label>
                        {% render_field formDocRegistration.doctor_email class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formDocRegistration.doctor_email.errors.as_text }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label >Address Line 1</label>
                        {% render_field formAddress.address_line1 class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formAddress.address_line1.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label >Address Line 2</label>
                        {% render_field formAddress.address_line2 class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formAddress.address_line2.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >City</label>
                        {% render_field formAddress.address_city class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formAddress.address_city.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >State</label>
                        {% render_field formAddress.address_state class+="form-control" required="true"%}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formAddress.address_state.errors.as_text }}</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label >Pincode</label>
                        {% render_field formAddress.address_pincode class+="form-control" required="true" max="999999" %}
                        <div class="form-group has-error">
                            <label class="control-label" >{{ formAddress.address_pincode.errors.as_text }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-outline btn-primary">Create</button>
                    <button type="reset" class="btn btn-outline btn-default" id="btnReset">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
</div>
{% endblock %}

{% block javascript_tags %}
    <script type="text/javascript">
<!--data-toggle="tooltip" data-placement="top" title="Check Availability of branch code"-->
        $('#btnReset').click(function(){
            console.log("hello");
            $('#orgForm')[0].reset();
        });
        $('.tooltip-demo').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        })

       $("[data-toggle=popover]").popover();

    </script>
{% endblock %}