{% extends 'w_base_usr.html' %}
{% load staticfiles %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-9">
            <h3 class="page-header">User Groups</h3>
        </div>
        <div class="col-lg-3" style="padding:0px 0px;margin-top:20px;">
            <a id="addGroup" href="#" data-toggle="modal" data-target="#createGroup">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-plus fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right" >
                                <div style="font-size:20px;padding:0px;">Create User Group</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if formError %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{error}}
                </div>
            {% endif %}
            {% if formSuccess %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{success}}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    All Groups
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="grid-UserGroups"></div>
                    <!--<div class="dataTable_wrapper">-->
                        <!--<table class="table table-striped table-bordered table-hover" style="width:100%;" id="dataTable-Groups">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>Group Name</th>-->
                                    <!--<th>Organisation Level</th>-->
                                    <!--<th>Hospital Level</th>-->
                                    <!--<th>Doctor Level</th>-->
                                    <!--<th>Patients Level</th>-->
                                    <!--<th>Call Level</th>-->
                                    <!--<th>Transaction Level</th>-->
                                    <!--<th>User Level</th>-->
                                    <!--<th></th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                        <!--</table>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newGroupInfoLabel">New User Group</h4>
                    </div>
                    <div id="newGroupDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="basicInfoLabel">Edit Group</h4>
                    </div>
                    <div id="editGroupDiv">

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->
    <!--&lt;!&ndash; DataTables JavaScript &ndash;&gt;-->
    <!--&lt;!&ndash; DataTables CSS &ndash;&gt;-->
    <!--<link href="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">-->

    <!--&lt;!&ndash; DataTables Responsive CSS &ndash;&gt;-->
    <!--<link href="{% static "sbadmin/bower_components/datatables-responsive/css/responsive.dataTables.scss" %}" rel="stylesheet">-->

    <!--<script src="{% static "sbadmin/bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>-->

    <link href="{% static "kendo/css/kendo.common.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}"rel="stylesheet">

    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.default.min.css" %}" rel="stylesheet">
    <script src="{% static "kendo/jszip.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>


    <script>
    $(document).ready(function() {
        <!--$('#dataTable-Groups').DataTable({-->
                <!--"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],-->
                <!--"responsive" : true,-->
                <!--"processing": true,-->
                <!--"serverside" : true,-->
                <!--"ajax": {-->
                     <!--"url": "/web/{{request.session.org_id}}/getgroups/",-->
                <!--},-->
        <!--});-->


        $("#grid-UserGroups").kendoGrid({
            toolbar: ["excel"],
            excel: {
                fileName: "UserGroupList.xlsx",
                allPages: true,
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/web/{{request.session.org_id}}/getgroups/",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "data",
                    model: {
                        fields: {
                            name: { type: "string" },
                            org: { type: "string" },
                            hospital: { type: "string" },
                            doctor: { type: "string" },
                            patient: { type: "string" },
                            call: { type: "string" },
                            transaction: { type: "string" },
                            user: { type: "string" },
                            groupid: { type: "integer" },
                            status: { type: "boolean" }
                        }
                    }
                },
            },
            height: 500,
            groupable: true,
            sortable: true,
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                pageSize: 10,
                buttonCount: 1
            },
            columns: [
                {
                    field:"name",
                    title:"Group Name",
                    groupable: false,
                },
                {
                    field: "org",
                    title: "Organisation Level",
                },
                {
                    field: "hospital",
                    title: "Hospital Level"
                },
                {
                    field: "doctor",
                    title: "Doctor Level"
                },
                {
                    field: "patient",
                    title: "Patient Level"
                },
                {
                    field: "call",
                    title: "Call Level"
                },
                {
                    field: "transaction",
                    title: "Transaction Level"
                },
                {
                    field: "user",
                    title: "User Level"
                },
                {
                    field: "status",
                    title: "Status",
                    template: '# if (status) { #Active# } else { #Inactive# } #'
                },
                {
                    title: "",
                    template: '<button type="button" onclick="editGroup(this);" data-org="{{request.session.org_id}}" data-group="#=groupid#" class="btn btn-default" data-toggle="modal">Edit <span class="fa fa-edit"></span></button>',
                    filterable: false,
                    groupable: false,
                }
            ]
        });
    });
    </script>
    <script>
        $("#addGroup").click(function(){
            $.ajax(
                {
                    url: "/web/{{request.session.org_id}}/usrgroupnew/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#newGroupDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#newGroupDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
        });

        function editGroup(value)
        {
            var org = $(value).data('org');
            var group = $(value).data('group')
            //alert("data-org:"+org+", data-group:"+group);
            $('#editGroup').modal('show');

            $.ajax(
                {
                    url: "/web/"+org+"/groupedit/"+group+"/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#editGroupDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#editGroupDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                }
            );
        }
    </script>
{% endblock %}