{% extends 'w_base_usr.html' %}
{% load staticfiles %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-9">
            <h3 class="page-header">Users</h3>
        </div>
        <div class="col-lg-3" style="padding:0px 0px;margin-top:20px;">
            <a id="addUser" href="#" data-toggle="modal" data-target="#createUser">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa  fa-plus fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div style="font-size:20px;padding:0px;">Add User</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% if formError %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{error}}
                </div>
            {% endif %}
            {% if formSuccess %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{success}}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    All Users
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="grid-Users"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserInfoLabel">New User</h4>
                    </div>
                    <div id="newUserDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >New User</h4>
                    </div>
                    <div id="editUserDiv">

                    </div>
                </div>

                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
{% endblock %}


{% block javascript_tags %}
    <!--<script src="{% static "sbadmin/bower_components/morrisjs/morris.min.js" %}"></script>-->
    <!--<script src="{% static "sbadmin/js/morris-data.js" %}"></script>-->
    <link href="{% static "kendo/css/kendo.common.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}"rel="stylesheet">

    <link href="{% static "kendo/css/kendo.dataviz.min.css" %}" rel="stylesheet">
    <link href="{% static "kendo/css/kendo.dataviz.default.min.css" %}" rel="stylesheet">
    <script src="{% static "kendo/jszip.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.all.min.js" %}"></script>

    <script>
        $(document).ready(function() {

            $("#grid-Users").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "UserList.xlsx",
                    allPages: true,

                },
                dataSource: {
                    transport: {
                        read: {
                            url: "/web/{{request.session.org_id}}/getusers/",
                            dataType: "json"
                            }
                        },
                        schema: {
                            data: "data",
                            model: {
                                fields: {
                                    name: { type: "string" },
                                    username: { type: "string" },
                                    phonenumber: { type: "string" },
                                    usergroup: { type: "string" },
                                    status: { type: "boolean" },
                                    id: { type: "integer" }
                                }
                            }
                         },
                    },
                    height: 500,
                    groupable: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        pageSize: 10,
                        buttonCount: 1
                    },
                    columns: [
                        {
                            field:"name",
                            title:"Name",
                            groupable: false,
                        },
                        {
                            field: "username",
                            title: "User Name",
                        },
                        {
                            field: "phonenumber",
                            title: "Phone Number"
                        },
                        {
                            field: "usergroup",
                            title: "User Group"
                        },
                        {
                            field: "status",
                            title: "Status",
                            template: '# if (status) { #Active# } else { #Inactive# } #'
                        },
                        {
                            title: "",
                            template: '<button type="button" onclick="editUser(this);" data-org="{{request.session.org_id}}" data-user="#=id#" class="btn btn-default" data-toggle="modal">Edit <span class="fa fa-edit"></span></button>',
                            filterable: false,
                            groupable: false,
                        }
                    ]
            });
        });

        $("#addUser").click(function(){
            $.ajax(
                {
                    url: "/web/{{request.session.org_id}}/usrnew/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#newUserDiv").html(result);
                    },
                    error: function(xhr){
                        $("#newUserDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                });
        });

        function editUser(value)
        {
            var org = $(value).data('org');
            var user = $(value).data('user')
            //alert("data-org:"+org+", data-group:"+group);
            $('#editUser').modal('show');

            $.ajax(
                {
                    url: "/web/"+org+"/useredit/"+user+"/",
                    dataType: "html",
                    type: "GET",
                    success: function(result){
                        $("#editUserDiv").html(result);
                    },
                    error: function(xhr){
                        //alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        $("#editUserDiv").html("An error occured: " + xhr.status + " " + xhr.statusText);
                    },
                    complete: function (xhr, status) {
                        //$('#showresults').slideDown('slow')
                    }
                }
            );
        }

    </script>
{% endblock %}